@import 'tailwindcss';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	color: #f4f0e4;
	background-color: #211832;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
	font-family: var(--font-sans);
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Switzer';
	src: url('./assets/font/Switzer/Switzer-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('./assets/font/Switzer/Switzer-VariableItalic.woff2') format('woff2');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
